:root {
    --font-primary: "Nunito", sans-serif;
    --color-primary: #FD377E;
    --color-primary-2: #E34981;
    --color-secondary: #03B898;
    --gray-1: #212529;
    --gray-2: #868E96;
    --gray-3: #E9ECEF;
    --gray-4: #F8F9FA;
} 



