:root {
    --font-primary: "Nunito", sans-serif;
    --color-primary: #FD377E;
    --color-primary-2: #E34981;
    --color-secondary: #03B898;
    --gray-1: #F8F9FA;
    --gray-2: #E9ECEF;
    --gray-3: #868E96;
    --gray-4: #212529;
} 


*{
    box-sizing: border-box;
}


