.title {
    font-family: var(--font-primary);
    font-weight: bold;
    line-height: 1.4;
    color: var(--gray-4);
}

.title.sm {
    font-size: 1rem;
}

.title.md {
    font-size: 1.375rem;
}

.title.lg {
    font-size: 2.375rem;
}

.padding {
    padding: 1rem 0 1.875rem 0;
}

.highlight {
    color: var(--color-primary);
}

.paragraph{
    font-family: var(--font-primary);
    font-size: 0.875rem;
    color: var(--gray-4);

}

.paragraph.headline {
    font-size: 1rem;
}


.paragraph.light {
    color: var(--gray-3)
}
